* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.main {
  width: 100%;
  padding: 20px;
}

.container {
  display: flex;
  height: 100vh;
}

.ant-layout .ant-layout-sider {
  flex: unset !important;
  max-width: unset !important;
  min-width: unset !important;
  width: unset !important;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-modal {
  top: 50px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-layout .ant-layout-sider-children {
  height: 99.9vh;

}

:where(.css-dev-only-do-not-override-1wazalj).ant-menu-dark.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-dark>.ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-dark.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1wazalj).ant-menu-dark>.ant-menu.ant-menu-root.ant-menu-vertical {
  height: unset !important;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-col-18 {
  flex: 0 0 69%;

}